 /* Import Google font - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
 body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #e3f2fd;
 }
 

 .showcase{
  width: 100%;
  height: 1100px;
  background: #4070f4;
 }

 .showcase-content{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #fff;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-transform: capitalize;
  margin: 5px 0;
  color: #fff;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


 .showcase header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.showcase header .logo h1 {
  font-size: 25px;
  color: #fff;
}
.showcase header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.showcase header ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.footer{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer  .container{
  max-width: 1200px;
}

.footer .container .row{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.footer .container .row .footer-col{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-col p{
  font-size: 13px;
  color: #fff;
}
.footer-col h1{
  color: #fff;
}

.footer-col ul li a{
  text-decoration: none;
  color: rgb(187, 184, 184)
}


.footer-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}